<ul class="dropdown-menu dropdown-menu-end menu">
    <li class="dropdown-item disabled">
      <div class="d-inline-flex" style="margin-left: 200px;">
      <h2 class="fill title">Screen Mode</h2>
      </div>
      <div class="d-inline-flex" style="margin-left: 200px; ">
        <button type="button" class="btn exit">X</button>
      </div>
    </li>
    
      <li class="dropdown-item item">
        <!-- Notification Template -->
        <div class="d-flex justify-content-between">
        <!-- Left -->
    
        <!-- Middle -->
        <div class="d-inline-flex flex-fill row">
            <button class="dropdown-item" id="dark" onclick="screenMode(this.id)">
                <div class="d-flex justify-content-center">
                <p class="h2 item-title">Dark Mode</p>
                </div>
            </button>
            <button class="dropdown-item" id="light" onclick="screenMode(this.id)">
                <div class="d-flex justify-content-center">
                    <p class="h2 item-title">Light Mode</p>
                </div>
            </button>
            <button class="dropdown-item" id="original" onclick="screenMode(this.id)">
                <div class="d-flex justify-content-center">
                    <p class="h2 item-title">Original Mode</p>
                </div>
            </button>
        </div>
        <!-- Close Button -->
        <div class="d-inline-flex" >
            <button type="button" class="btn btn-danger" style="margin-left:7px;">X</button>
        </div>
        </div>
        </li>
    </ul>