<div class="column">
    <div class="row" id="header">
        <!--Logo-->
        <div class="col-sm-3 logo"><a href="#" class="logoLink"><img src="https://github.com/220516-Java-Angular-Enterprise/P2_PokeBid_FrontEnd/blob/main/surprisedpika.png?raw=true" alt="Pokemon"></a></div>
        <!--Main Title-->
        <div class="col-sm-6 title"><a href="#" class="titleLink">Po<img class="tail" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3dceae9c-4c83-47f6-8bcd-ea52712f219b/ddghbqj-e91d47a3-05c5-4d4f-8f95-66cdfccd9630.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzNkY2VhZTljLTRjODMtNDdmNi04YmNkLWVhNTI3MTJmMjE5YlwvZGRnaGJxai1lOTFkNDdhMy0wNWM1LTRkNGYtOGY5NS02NmNkZmNjZDk2MzAucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.eV7NB-PjtJZwgN09QjaiffOFDAe-IqjuBhhmAIctJwY">
            eBid</a></div>
            

        <!--Nav Icons-->
        <div class="col-sm-3">
            <nav class="navbar navbar-expand-sm navbar-dark">
                <a href="#" class="navbar-brand"></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                      <!-- Pinned Icon Drop Down -->
                      <div class="nav-item dropdown">
                        <a routerLink="/pinned" class="nav-item nav-link dropdown-toggle" data-bs-toggle="dropdown"><span class="glyphicon glyphicon-star headerIcon"></span></a>
                        <!-- Drop down menu -->
                            <app-pinned></app-pinned>
                        </div>
                        <!-- Notifications Icon Drop down -->
                        <div class="nav-item dropdown">
                          <a routerLink="/notifications" class="nav-item nav-link dropdown-toggle" data-bs-toggle="dropdown"><span class="glyphicon glyphicon-bell headerIcon"></span></a>
                        <!-- Drop down menu -->
                        <app-notification></app-notification>
                        </div>
                        <!-- User Icon Drop Down -->
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><span class="glyphicon glyphicon-user headerIcon"></span></a>
                            <!-- Drop Down Menu -->
                            <app-account></app-account>
                              
                        </div>
                        <!-- Dark Mode Icon -->
                        <div class="nav-item dropdown">
                            <a class="nav-item nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-circle-half headerIcon halfCircle"></i></a>
                            <app-dark-mode></app-dark-mode>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

    </div>
</div>
<!-- <a class="iconLink" routerLink="/pinned"><span class="glyphicon glyphicon-star headerIcon"></span></a>
            <a class="iconLink" routerLink="/notifications"><span class="glyphicon glyphicon-bell headerIcon"></span></a>
            <a class="iconLink" routerLink="/userNav"><span class="glyphicon glyphicon-user headerIcon"></span></a>
            <a class="iconLink" routerLink="/darkMode"><i class="bi bi-circle-half headerIcon"></i></a>
            <span class="ms-auto"><app-auth></app-auth></span> -->
