<ul class="dropdown-menu dropdown-menu-end">
<li class="dropdown-item">
  <div class="d-inline-flex" style="margin-left: 200px;">
  <h2 class="fill">Notifications</h2>
  </div>
  <div class="d-inline-flex" style="margin-left: 200px; ">
    <button type="button" class="btn btn-danger">x</button>
  </div>
</li>

  <li class="dropdown-item">
    <!-- Notification Template -->
    <div class="d-flex justify-content-between">
    <!-- Left -->
    <div class="d-inline-flex bg-warning"><a href=""><img src="#" alt="" style="color: black;"><h2>image goes here</h2></a></div>
    <!-- Middle -->
    <div class="d-inline-flex bg-warning flex-fill row">
    <div class="d-flex bg-success justify-content-center">
      <p class="h3">Card Name</p>
    </div>
        <div class="d-flex bg-success">
          <p class="h3">Notification Message</p>
        </div>
    </div>
    <!-- Close Button -->
    <div class="d-inline-flex">
        <button type="button" class="btn btn-danger" style="margin-left:7px;">X</button>
    </div>
    </div>
    </li>
</ul>