<h2 mat-dialog-title class="hc">Create New Card Listing</h2>
<mat-dialog-content class="container">

  <div class="searchbar row-2">
    <!-- Search -->
    <div class="h-100 d-flex justify-content-center align-items-start searchbar row-2 searchName">
        <mat-form-field appearance="standard"class="flex-fill searchField"> 
            <mat-label class="mat-label">Pokemon Name</mat-label>
            <input type="text" matInput placeholder="Name" class="mat-form-input">
        </mat-form-field>

        <!--Select rarity-->
          <mat-form-field appearance="fill" class="mx-2 searchField">
            <mat-label class="mat-label rarity">Rarity</mat-label>
            <mat-select class="mat-form-input">
              <mat-option *ngFor="let rarity of rarities" [value]="rarity">
                {{rarity}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button type="button" id="button-addon2"><i class="bi bi-search"></i>Search</button>
    </div>

    <!--Card Selection-->
    <div class="cards"></div>

    <!--Write description-->
    <div class="h-100 d-flex justify-content-center align-items-center">
        <mat-form-field appearance="outline" class="me-auto flex-fill textarea">
            <mat-label>Description</mat-label>
            <textarea matInput class="description"></textarea>
        </mat-form-field>

        <!--Select starting price-->
        <div class="h-100 d-flex flex-column justify-content-center align-items-center priceConditionDate">
            <mat-form-field appearance="standard" class="startingPriceField">
                <span matPrefix class="dollarSign">$&nbsp;</span>
                <span matSuffix class="trailingZeros">.00</span>
                <mat-label class="startingPriceLabel">Starting Price</mat-label>
                <input matInput placeholder="Starting Price" class="startingPriceInput">
            </mat-form-field>

            <!--Select condition-->
            <mat-form-field appearance="standard" class="conditionField">
                <mat-label class="conditionLabel">Condition</mat-label>
                <mat-select class="conditionOption">
                <mat-option value="null" >
                    Option
                </mat-option>
                </mat-select>
            </mat-form-field>
           
            <!--Date Not Working-->

            <!-- <mat-form-field color="accent" appearance="fill">
        <mat-label>Inherited calendar color</mat-label>
        <input matInput [matDatepicker]="picker1">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field> -->
           
        </div>
    </div>
</div>

<!--Add or cancel item-->
</mat-dialog-content>
<mat-dialog-actions class="container">
  <button mat-button mat-dialog-close mat-dialog-close="true">Add Item</button>
  <button mat-button mat-dialog-close mat-dialog-close="false">Cancel</button>
</mat-dialog-actions>