<ul class="dropdown-menu dropdown-menu-end menu">
    <li class="dropdown-item disabled">
      <div class="d-inline-flex" style="margin-left: 200px;">
      <h2 class="fill title">Account</h2>
      </div>
      <div class="d-inline-flex" style="margin-left: 200px; ">
        <button type="button" class="btn exit">X</button>
      </div>
    </li>
    
      <li class="dropdown-item item">
        <!-- Notification Template -->
        <div class="d-flex justify-content-between">
        <div class="d-inline-flex flex-fill row">
            <button class="dropdown-item">
                <div class="d-flex justify-content-center">
                <p class="h2 item-title"><a routerLink="/profile" class="profileLink">Profile</a></p>
                </div>
            </button>
        </div>
        </div>

        </li>
          <li class="dropdown-item item">
            <!-- Notification Template -->
            <div class="d-flex justify-content-between">
              <div class="d-inline-flex flex-fill row">
                <button class="dropdown-item">
                  <div class="d-flex justify-content-center">
                    <app-auth></app-auth>
                  </div>
                </button>
                <!--login/sign up-->

              </div>
            </div>
          </li>
    </ul>