<ul class="dropdown-menu dropdown-menu-end menu">
    <li class="dropdown-item disabled">
      <div class="d-inline-flex" style="margin-left: 200px;">
      <h2 class="fill title">Account</h2>
      </div>
      <div class="d-inline-flex" style="margin-left: 200px; ">
        <button type="button" class="btn exit">X</button>
      </div>
    </li>
    
      <li class="dropdown-item item">
        <!-- Notification Template -->
        <div class="d-flex justify-content-between">
        <!-- Left -->
    
        <!-- Middle -->
        <div class="d-inline-flex flex-fill row">
            <button class="dropdown-item">
                <div class="d-flex justify-content-center">
                <p class="h2 item-title"><a routerLink="/profile" class="profileLink">Profile</a></p>
                </div>
            </button>
            <!--login/sign up-->
            <app-auth></app-auth>
        </div>
        <!-- Close Button -->
        <div class="d-inline-flex" >
            <button type="button" class="btn btn-danger" style="margin-left:7px;">X</button>
        </div>
        </div>
        </li>
    </ul>